<!DOCTYPE html>
<html>
<head>
  <title>AlchemyKonoMailup</title>
  <%= stylesheet_link_tag    "alchemy_kono_mailup/application", media: "all" %>
  <%= javascript_include_tag "alchemy_kono_mailup/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
